.content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.container {
  min-width: 480px;
  min-height: 430px;
  padding-top: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: calc(var(--offset-base-size) * 2);
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}
