.content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 5);
}

.container {
  width: 100%;
  height: calc(100vh - 228px);
  display: flex;
  column-gap: calc(var(--offset-base-size) * 10);
}
