.card {
  width: 272px;
  min-height: 208px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 2);
  position: relative;
}

.image {
  width: 240px;
  height: 120px;
  object-fit: contain;
  object-position: center;
}

.text {
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.gap_column_2 {
  column-gap: calc(var(--offset-base-size) * 2);
}
