.content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 5);
}

.container {
  width: 100%;
  height: calc(100vh - 228px);
  display: flex;
  column-gap: calc(var(--offset-base-size) * 15);
}

.list {
  width: 600px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-right: calc(var(--offset-base-size) * 2);
  list-style-type: none;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
}

.list::-webkit-scrollbar {
  width: calc(var(--offset-base-size) * 2);
}

.list::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
}

.list::-webkit-scrollbar-track {
  margin-bottom: 52px;
}
