.list {
  height: calc(100vh - 128px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-right: calc(var(--offset-base-size) * 2);
  list-style-type: none;
  overflow: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 6);
  flex-grow: 1;
  margin-top: calc(var(--offset-base-size) * 10);
}

.list::-webkit-scrollbar {
  width: calc(var(--offset-base-size) * 2);
}

.list::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
}

.list::-webkit-scrollbar-track {
  margin-bottom: 52px;
}
