.header {
  width: 100%;
  background-color: #1c1c21;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1280px;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper {
  position: absolute;
  top: calc((100% / 2) - 25px);
  left: calc((100% / 2) - 144px);
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 2);
}
